body {
    color: rgb(78, 82, 87);
    font-family:  'Helvetica', 'Arial', sans-serif;
    background-color: rgb(235, 235, 235);
    font-size: 92%;
}

/*this is for formating the resume to be like a physical page*/
#page-wrapper {
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    padding-top: 0px;
    background: white;
    box-shadow:  0 2px 4px rgba(0,0,0,0.2);
    font-size: 120%;
}
.grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap:5%;
}

/*this is making my title white on a blue background centered and in a nice font*/
#upper-content{
    padding-bottom: 25px;
}
.color-bar{
    background-color: #2A5978;
    opacity: .25;
}
.banner.color-bar  {
    height: 50px;
    padding-top: .4%;
    width: auto;
}

h1{
    font-size: 375%;
    color: #2A5978;
    text-align: left;
    margin-bottom: auto;
    margin-top: 1%;
}



/* makes my section headers blue and closer to the section so that things aren't as spaced out*/
h4  {
    font-size: 170%;
    color: #2A5978;
    margin-top: 2%;
    margin-bottom: 1%;
}

/*I'm using span to blanket targets things like smaller titles of things to make darker and bold*/
span  {
    font-weight: bold;
    color: black;
}


span.address-line{
    font-weight: normal;
    font-style: normal;
    color: rgb(78, 82, 87);
    font-family:  'Helvetica', 'Arial', sans-serif;
}

/*this is for all of the dates of things on my resume I wanted them all alligned to the right and didn't like them bolded*/
.item-date  {
    font-weight: normal;
}

/*used to keep things from wrapping after the use of float*/
.clear-both{
    clear: both;
}



/*I wanted my list titles and lists to be closer together*/
ul  {
    margin-top: .25%;;
}

/*I didn't want paragraphs to be so spaced out*/
p  {
    margin-top: .25%;
}

/*wanted to keep elements at top of page perfectly centered*/
.upper-div {
    width: 50%;
    margin: auto;
    padding-top: 2%;
}

/*My phone number / email looked nicer when spaced apart a little*/
.contact-link  {
    padding-right: 1%;
    padding-left: 1%;
}

/*this makes it so that not everying gets stuck to the left after I used float*/
hr  {
    border: .5px solid #2A5978;
    margin-bottom: 15px;
}




